:root {
  --main-color: rgba(143, 15, 15, 0.7);
  --transparent-color: rgba(143, 15, 15, 0.7);
  --section-padding: 100px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.main-heading {
  text-align: center;
}

.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}

.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}

.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: white;
}

.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
}

header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
  /* background-color: rgb(100 11 11 / 37%); */

}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 80px;

}

/* header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    width: calc(100% - 30px);
    left: 15px;
  } */
header .logo img {
  height: 60px;
  width: 70px;
}

header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* header nav .toggle-menu {
    color: white;
    font-size: 22px;
  } */
header nav ul {
  display: flex;
}

header nav .toggle-menu:hover+ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgb(0 0 0 / 50%);
}

header nav ul li a {
  padding: 15px !important;
}

header nav ul li a {
  padding: 40px 10px;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s;
  position: relative;
  z-index: 2;
}

header nav ul li a.active,
header nav ul li a:hover {
  background-color:  var(--transparent-color);
  color: white;
  border-radius: 20px;
margin: 5px;
}

header nav .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid white;
}

header nav .form i {
  color: white;
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-size: cover;
  position: relative;
  background-image: url("../Imgs/Mangum.png");

}

.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 30%);
}

.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
  display: flex;
  justify-content: flex-end;
  border-radius: 25px;
}

.landing .text .content {
  max-width: 500px;
}

.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}

.landing .text .content p {
  font-size: 14px;
  line-height: 2;
}

.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}

.landing .fa-angle-left {
  left: 30px;
}

.landing .fa-angle-right {
  right: 30px;
}

.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}

.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}

.landing .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  height: 600px;
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;

}

.design::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);
  ;
}

.design .image,
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}

.design .image {
  text-align: center;
}

.design .image img {
  position: relative;
  bottom: -50px;
}

.design .text {
  color: white;
  padding: 50px;
  background: linear-gradient(109.6deg, #34e69c 15.2%, rgba(217, 43, 23, 0.95) 80.8%);
  border-radius: 40px;
}

.design .text h1 {
  margin-bottom: 40px;
}

.design .text ul li {
  padding: 15px 0;
}

.design .text ul li::before {
  content: "\f108";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}